
.load-btn {
    // position: absolute;
    // top: 30%;
    // left: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }


  button.is-hidden {
      display: none;
  }
button > .spinner.is-hidden {
    display: none;
}
