<section class="video">
    <div class="sixteen-nine">
        <div class="content">
            <video autoplay loop muted>
                <source src="./video/particles.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
</section>
    
    <div class="container">
        <form class="search-form" id="search-form">
            <input class="input" type="text" name="query" autocomplete="off" placeholder="Search images..." />
            <button class="btn submit-btn js-submit-btn" type="button">Search</button>
        </form>

        <!-- <button class="btn load-btn js-load-btn" type="button">Load more</button> -->
    </div>